# dotenv
.env

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# Additional files
*.rbc
capybara-*.html
.rspec
/coverage/
/spec/tmp

# Ignore Database? If yes, uncomment out and change to pg or psql
# /db/*.sqlite3
# /db/*.sqlite3-journal
